<!DOCTYPE html>
<html>
<head>
  <title>WadoeApi</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <%= link_to "WA Department of Education API", root_path, class: "logo" %>
  <ul class="navbar-links">
    <%= link_to "Graphs & Charts", visualization_path %>
    <%= link_to "API Documentation", documentation_path %>
    <% if current_user %>
      <%= link_to "Your API Key", user_path(current_user) %>
      <%= link_to "Log Out", logout_path %>
    <% else %>
      <%= link_to "Sign Up (Get an API Key)", new_user_path %>
      <%= link_to "Log In", login_path %>
    <% end %>
  </ul>
  <div class="collapsed-navbar">
    <div class="menu-icon">
      <div class="horizontal-line"></div>
      <div class="horizontal-line"></div>
      <div class="horizontal-line"></div>
    </div>
    <ul class="dropdown-links hidden">
      <li class="dropdown-link"><%= link_to "Graphs & Charts", visualization_path %></li>
      <li class="dropdown-link"><%= link_to "API Documentation", documentation_path %></li>
      <% if current_user %>
        <li class="dropdown-link"><%= link_to "Your API Key", user_path(current_user) %></li>
        <li class="dropdown-link"><%= link_to "Log Out", logout_path %></li>
      <% else %>
        <li class="dropdown-link"><%= link_to "Sign Up (Get an API Key)", new_user_path %></li>
        <li class="dropdown-link"><%= link_to "Log In", login_path %></li>
      <% end %>
    </ul>
  </div>
</div>
<% flash.each do |type, message| %>
  <div class="<%= type %>">
    <%= message %>
  </div>
<% end %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
